.App {
  padding: 4rem;
  /* background-color: aliceblue; */
  width: 65%;
  margin: 0 auto;
}



a {
  text-decoration: none;
}

.h2 {
  font-size: calc(1.9rem + 0.67vw);
  padding-block: 1rem;
}

@media screen and (max-width:1000px) {
  .App {
    width: 80%;
  }
}

@media screen and (max-width:800px) {
  .App {
    width: 90%;
  }
}

@media screen and (max-width:700px) {
  .App {
    width: 95%;
  }
}

@media screen and (max-width:600px) {
  .App {
    width: 85%;
  }
}

@media screen and (max-width:530px) {
  .App {
    width: 98%;
  }
}

@media screen and (max-width:450px) {
  .App {
    width: 100%;
    padding: 2rem;
  }
}